/*FLIP - CARD CSS*/
body {
    background-color: #333
}

.card {
    background: blue;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
    background: red;
}